.wrapper{
    display: flex;
    gap:0.25rem;
    list-style: none;
    .block{
        display: flex;
        align-items:end;
        .link{
            margin-right: 0.25rem;
            color: gray;
            text-decoration: none;
        }
        .link:hover{
            text-decoration: underline solid gray;
        }
        
    }
}

.dark{
    color: white;
}

.light{
    color: black;
}