.wrapper{
    display: flex;
    flex-direction: column;
    gap:0.25rem;
    input{
        border-radius: 4px;
        padding: 0.5rem;
    }
    .field{
        display: flex;
        align-items: center;
        gap:0.25rem;
    }
    ::-webkit-file-upload-button{
        display: none;
    }
}

.dark{
    color: white;
    input{
        color: white;
        border: 1px solid gray;
        background-color: var(--backgroud_dark);
    }
    input:active{
        border: 1px solid white;
    }
    input::placeholder{
        color: gray;
    }
}

.light{
    input{
        border: 1px solid gray;
        background-color: var(--backgroud_dark);
    }
    input:active{
        border: 1px solid black;
    }
    input::placeholder{
        color: gray;
    }
}

.disabled{
    color: gray;
}