.wrapper{
    background: var(--backgroud_dark);
    padding: 0.5rem;
    margin: 1rem var(--margin-content) 1rem var(--margin-content);
    border-radius: var(--border-radius);
    border: 1px solid gray;
}
