.btn{
    border-radius: calc(var(--border-radius)*2);
    padding: 0.1rem;
    font-size: small;
}



.agree{
    border: 0px;
    color: white;
    background-color: #0c8ce9;
}



.destructive{
    border: 0px;
    color: white;
    background-color: #EF4444;
}



.outline{
    color: black;
    border: 1px solid black;
    background-color: white;
}



.default{
    border: 0px;
    color: white;
    background-color: #232326;
}
