.agree{
    border: 0px;
    color: white;
    background-color: #0c8ce9;
}



.destructive{
    border: 0px;
    color: white;
    background-color: #EF4444;
}



.outline{
    color: white;
    border: 1px solid white;
    background-color: rgba(0,0,0,0);
}



.default{
    border: 0px;
    color: black;
    background-color: #ffffff;
}