.wrapper{
    display: flex;
    flex-direction: column;
    gap:0.25rem;
    input[type="range"]{
        border-radius: var(--border-radius);
    }
}

.dark{
    color: white;
    input[type="range"]{
        color: white;
        accent-color: white;
        border: 1px solid gray;
        background-color: var(--backgroud_dark);
    }
    input[type="range"]:active{
        border: 1px solid white;
    }
}

.light{
    input[type="range"]{
        border: 1px solid gray;
        accent-color: black;
        background-color: var(--backgroud_dark);
    }
    input[type="range"]:active{
        border: 1px solid black;
    }
}

.disabled{
    color: gray;
}