.wrapper{
    z-index: 2;
    display: inline-flex;
    flex-direction: column;
    padding: 1rem;
    gap:1rem;
    border-radius: 4px;
    .header{
        h2{
            margin-bottom: 0.25rem;
        }
        p{
            margin-bottom:1rem;
            color: gray;
            font-size: small;
        }
    }
}

.dark{
    border: 1px solid white;
    .header{
        border-bottom: 1px solid white;
    }
}

.light{
    border: 1px solid black;
    .header{
        border-bottom: 1px solid black;
    }
}
